<div class="container">
  <div class="section1">
    <h2>Justin Veirs</h2>
  </div>
    <h3 class="address">
      14701 Spring Meadow Dr. Darnestown, Md 20874
    </h3>
    <h3 class="links">
      <a href="tel:301.785.1480" <i class="fa fa-phone"></i></a>
      <a href="mailto:justinveirs@gmail.com" <i class="fa fa-envelope"></li></a>
      <a href="https://github.com/cheezedigital" target='_blank' <i class="fa fa-github"></i></a>
      <a href="https://www.linkedin.com/pub/justin-veirs/73/179/9a4" target='_blank' <i class="fa fa-linkedin-square"></i></a>
      <a href="https://twitter.com/JustinVeirs" target='_blank' <i class="fa fa-twitter"></i></a>
    </h3>
</div>
<div class="container">
  <div class="pic1">
    <center><img src="images/justin1.jpg" alt="Justin" /></center>
  </div>
</div>
  <div class="tools">
    <h2 class="tool">Tools</h2>
      <ul>
        <li class="tool1">Languages</li>
          <ul>
            <li>Ruby</li>
            <li>HTML(5)</li>
            <li>CSS(3)</li>
            <li>Javascript</li>
          </ul>
        <li class="tool2">Javascript</li>
          <ul>
            <li>JQuery</li>
            <li>JQuery Plugins</li>
            <li>AJAX</li>
            <li>JSOM</li>
          </ul>
        <li class="tool3">Frameworks</li>
          <ul>
            <li>Sinatra</li>
            <li>Ruby On Rails</li>
          </ul>
        <li class="tool4">Services</li>
          <ul>
            <li>Github</li>
            <li>Git</li>
            <li>Heroku</li>
            <li>RSpec</li>
            <li>Postgresql</li>
            <li>Bootstrap</li>
          </ul>
      </ul>
  </div>
<div class="container">
  <div class="glassoverflowing">
    <h2>Glass Overflowing - Capstone</h2>
    <p>
      Informational beer app allowing users to search for beers using brewery api, which
      we tied into our ruby and rails application. Some of the features we included were
      elastic search, postres for our database, devise for user authentication. RSpec for
      testing the rails application, and finally, bootstrap for the front end. Oh, and it's
      responsive. Glass overflowing uses heroku for easy deployment to the cloud.
    </p>
    <a href="http://www.glass-overflowing.com/" target="_blank">Glass Over Flowing</a>
  </div>
</div>
<div class="container">
  <div class="itempiece1">
    <h2>Pinteresting</h2>
    <p>
      Project I worked on while attending the immersive program. A pinterst like clone, which
      is visual, responsive, and cool. Thin gem replacing webrick for faster real time updating.
      Devise used for user authentication. Font awesome gem for awesome fonts.
    </p>
    <a href="http://itempiece1.herokuapp.com" target="_blank">Primus</a>
  </div>
</div>
<div class="container">
  <div class="education">
    <h3>Devpointlabs. Salt Lake City, Utah 2014.</h3>
    <p>
      Intro to full stack web development. Cultivated technical skills in a full time 12 week
      intensive Ruby and Rails bootcamp covering foundation.
    </p>
    <h3>The Citadel, The Miliary College of South Carolina.</h3>
    <p>BS. Business Administration</p>
  </div>
</div>
