.container {
  width: 100%;
  text-align: center;
}
.section1 {
  text-align: center;
}
.address {
  text-align: center;
  font-size: 16px;
}
.links {
  text-align: center;
}
body {
  background-color: #313141;
  color: #a6fa62;
}

.pic1 img{
  border-radius: 50%;
}

ul {
  list-style-type: none;
}

.tool {
  text-align: center;
}

.tools > ul > li {
  float: left;
}

.tools > ul {
  overflow: auto;
  margin: 0 auto;
  /*padding-left: 575px;*/
  display: table;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 960px;
}
