.container {
  width: 100%;
}
.section1 {
  text-align: center;
}
.address {
  text-align: center;
  font-size: 16px;
}
.links {
  text-align: center;
}
body {
  background-color: #313141;
  color: #a6fa62;
}

.pic1 img{
  border-radius: 50%;
}

ul {
  list-style-type: none;
}

.tool {
  text-align: center;
}
